/*table {
	background-color: transparent;
}*/

.isi {
	color: black;
	padding: 20px;
	text-align: justify;
	background-image: url(background.png);
	background-repeat: repeat;
	width: 100%;
}
.isi h1 {
	letter-spacing: 1px;
	font-family: 'BebasRegular', sans-serif;
	font-size: 29px;
	word-spacing: 3px;
	padding: 0px;
	margin-top: 5px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

body, div, tr, td, th, select, textarea, input {
	font-family: 'AsapRegular', 'sans-serif', arial;
	font-weight: 500;
	font-size: 14px;

}
.btn-danger {
	color: #fff;
	background-color: black;
	cursor: pointer;
}
.btn {
	padding: 6px 12px;
	border-radius: 4px;
}
* {
	box-sizing: border-box;
}
b {
	color: white;
	font-size: 16px;
}